@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.breakdown-container,
.pricelist-container,
.sketch-container,
.finalLayout-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.message {
  margin-top: 10px;
  color: #333;
}

.breakdownMessage,
.priceListMessage,
.sketchMessage,
.finalLayoutMessage {
  font-size: 18px;
  font-weight: 500;
}